<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53451750769-hg0knpn3icrjg3cv2bir05krfgmbe1rp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53451750769-hg0knpn3icrjg3cv2bir05krfgmbe1rp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>53451750769-1m8u2h785d40br9hatf13b5qk3kdaavr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwBGOrIY_hnY94jzdNvYV79bgXQ6HxQQM</string>
	<key>GCM_SENDER_ID</key>
	<string>53451750769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uct.helpatCustomer</string>
	<key>PROJECT_ID</key>
	<string>helpatapp-5b117</string>
	<key>STORAGE_BUCKET</key>
	<string>helpatapp-5b117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53451750769:ios:745b18a1da9d0eeb56cad0</string>
</dict>
</plist>